@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Have you had this conversation?</h1>
    <div class="justify-content-lg-center">
        <img class="img-fluid" style="image-rendering:optimizeQuality" src="~/css/images/Idkwdyw.jpg" />
    </div>
    
</div>


