@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewBag.Title = "Nearby Options";
    var radiusAsString = PickerModel.RadiusToMileParser(PickerModel.Radius).ToString();
}



@*<h1 class="text-center">This is where Food will go</h1>*@
<h2 class="text-center">Here is a list of places within @*radiusAsString*@ 1 miles of you</h2>

<div class="card" style="width: 50rem;">
  <!--Accordion wrapper-->
  <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
    <!-- Accordion card -->
    <div class="card">
      <div cardcheckbox id="checkboxdiv">
        <input type="checkbox" class="cardcheckbox" id="checkid" align="right" onclick="toggleBoxVisibility()" />
      </div>
      <div class="well text-center">
        <div class="col-md-12">Sister Properties:</div>
        <div class="row">
          <div class="col-md-6">
            <a href="#"><img src="https://images.unsplash.com/reserve/bOvf94dPRxWu0u3QsPjF_tree.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="inn_logo"></a>
          </div>
          <div class="col-md-6">
            <a href="#"><img src="https://images.unsplash.com/reserve/bOvf94dPRxWu0u3QsPjF_tree.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="ccs_logo"></a>
          </div>
        </div>
      </div>
      <!-- Card header -->
      <div class="card-header" role="tab" id="headingOne1">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                        Tree
                    </a>
      </div>
      <!-- Card body -->
      <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
        <div class="card-body">
          Oak Tree with leaves in grassy picture with sunset
        </div>
      </div>
    </div>
  </div>
</div>
@*foreach (var place in PickerModel.Results);
{
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="@place." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
}*@

