@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewBag.Title = "Food";
}

@*<h1 class="text-center">This is where Food will go</h1>*@
<h2 class="text-center">Here is a list of places within 1 mile of you</h2>
<ul class="list-group">
    @foreach(var name in PickerModel.GetNearbyPlaceNames())
        {
            <li class="list-group-item">@name</li>
        }
    </ul>

