
@{
    ViewBag.Title = "Wellido";
}

<h1 class="text-center">So, What ya thinkin?</h1>
<hr />
<a class="btn btn-light btn-lg btn-block" asp-area="" asp-controller="Food" asp-action="Index">What's @FoodModel.GetMealName()?</a>
<a class="btn btn-light btn-lg btn-block" asp-area="" asp-controller="Drink" asp-action="Index">What's the Move?</a>

